*{
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background: linear-gradient(0deg, rgba(181,209,255,1) 0%, rgba(224,224,224,1) 100%);
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

header i{
    margin-right: 10px;
}
header li span{
    margin-left: 15px;
}
.navbar div div ul{
    margin: 0 0px 0 -55px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

#searchbox{
    padding-top: 80px;
    margin-bottom: 20px;
}

.test {
    background-color: black;
}

#form-admin{
    position: relative;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
}

#form{
    position: relative;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
}
form h1{
    text-align: center;
}

.tablecol .container{
    min-height: 720px;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.about{
    margin: 10px 0 50px 0;
    text-align: center;
}
.about h1{
    margin-bottom: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .profile {
    flex-basis: 30%;
    text-align: center;
  }

  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile p {
    margin-bottom: -25px;
    font-size: 20px;
    font-weight: 500;
  }
.intro-info{
    display: flex;
    justify-content: center;
}
.intro-info ol li{
    margin-bottom:15px ;
}
.about .lead{
    text-align: justify;
    font-weight: 500;
}
#about .container{
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px 50px 20px 50px;
}
.signup{
    position: absolute;
    top: 50%;
    bottom: 50%;

}

/* table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: 1px solid black;
  border-right: 1px solid black;
} */
.footer-distributed {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: bold 16px sans-serif;
    padding: 10px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed .footer-left i {
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-left p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    margin: 0;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}
.footer-distributed .footer-right i {
    color: #000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}


.footer-distributed .footer-right p{
    display: inline-block;
    color: #000;
    text-decoration: none;
    vertical-align: middle;
    margin: 0;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
